<header class="app-header">
    <nav class="main-nav flex between align-center">
        <a [routerLink]="['/']" class="flex center logo">₭€$$€₣</a>
        <div class="spacer"></div>
        <a class="flex center" [routerLink]="['/transactions']">Transactions</a>
        <a class="flex center" [routerLink]="['/statistics']">Statistics</a>
        <a class="flex center" [routerLink]="['/contact']">Contacts</a>
        <a class="flex center" [routerLink]="['/sign']" (click)="onLogout()">Logout</a>
    </nav>
</header>