// Layout
$layout-margin: 20px;

// Palette


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$black-bgc-dark: #151515dd;

$bit-green:#51c744;

$primary-gold: #ffa600;